In [3]:
import pandas as pd

In [20]:
get_wd()

NameError: name 'get_wd' is not defined

In [28]:
df = pd.read_csv("D:/test2.csv")

In [30]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3666 entries, 0 to 3665
Data columns (total 16 columns):
productName              3666 non-null object
serviceName              3666 non-null object
createdSecondDate        3666 non-null object
osVersion                3528 non-null object
channel                  3666 non-null object
ioCode                   3666 non-null object
text                     3653 non-null object
intent                   1734 non-null object
confidence               1532 non-null float64
updater                  3666 non-null object
unsigned                 3647 non-null object
conversationId           3666 non-null object
productId                3666 non-null int64
serviceId                3666 non-null int64
conversationTime         3666 non-null object
groupConversationTime    3666 non-null object
dtypes: float64(1), int64(2), object(13)
memory usage: 458.3+ KB

In [33]:
df.head(1)
df = df.drop(labels = ['productName','serviceName', 'osVersion', 'channel'], axis = 1)

In [36]:
df.head(1)

,createdSecondDate,ioCode,text,intent,confidence,updater,unsigned,conversationId,productId,serviceId,conversationTime,groupConversationTime
0,2019-04-02 11:12,O,안녕하세요? 판토스 챗봇입니다.<br>무엇을 도와드릴까요?<br>아래 버튼을 클릭해...,NaN,NaN,admin,NaN,e4228203-c8bb-4c30-8c94-2a10e0acc1ad,10002,10002,2019-04-02 11:12,2019-04-02 11:12

In [38]:
df.serviceId.value_counts()

10002    3666
Name: serviceId, dtype: int64

In [39]:
df = df.drop(labels = ['serviceId','productId'], axis = 1)

In [53]:
df['conversationTime'] = pd.to_datetime(df['conversationTime'])

In [54]:
df['groupConversationTime'] = pd.to_datetime(df['groupConversationTime'])

In [55]:
df['createdSecondDate'] = pd.to_datetime(df['createdSecondDate'])

In [75]:
df.head()

,createdSecondDate,ioCode,text,intent,confidence,updater,unsigned,conversationId,conversationTime,groupConversationTime
0,2019-04-02 11:12:00,O,안녕하세요? 판토스 챗봇입니다.<br>무엇을 도와드릴까요?<br>아래 버튼을 클릭해...,NaN,NaN,admin,NaN,e4228203-c8bb-4c30-8c94-2a10e0acc1ad,2019-04-02 11:12:00,2019-04-02 11:12:00
1,2019-04-02 11:12:00,I,정수기,NaN,NaN,admin,NaN,e4228203-c8bb-4c30-8c94-2a10e0acc1ad,2019-04-02 11:12:00,2019-04-02 11:12:00
2,2019-04-02 11:12:00,O,전자제품 관련하여 제가 안내 해 드릴 수 있는 내용은 다음과 같습니다.,NaN,NaN,admin,NaN,e4228203-c8bb-4c30-8c94-2a10e0acc1ad,2019-04-02 11:12:00,2019-04-02 11:12:00
3,2019-04-02 11:12:00,O,안녕하세요? 판토스 챗봇입니다.<br>무엇을 도와드릴까요?<br>아래 버튼을 클릭해...,NaN,NaN,admin,NaN,b60fa5fa-7404-4f1f-b41b-f10194301ed1,2019-04-02 11:12:00,2019-04-02 11:12:00
4,2019-04-09 13:27:00,O,안녕하세요? 판토스 챗봇입니다.<br>무엇을 도와드릴까요?<br>아래 버튼을 클릭해...,NaN,NaN,haniln,NaN,136c9f8e-5a60-45fe-b7f5-21e3601c7485,2019-04-09 13:27:00,2019-04-09 13:27:00

In [95]:
pd.concat([df['conversationId'], df['conversationTime']], axis = 1)

                            conversationId    conversationTime
0     e4228203-c8bb-4c30-8c94-2a10e0acc1ad 2019-04-02 11:12:00
1     e4228203-c8bb-4c30-8c94-2a10e0acc1ad 2019-04-02 11:12:00
2     e4228203-c8bb-4c30-8c94-2a10e0acc1ad 2019-04-02 11:12:00
3     b60fa5fa-7404-4f1f-b41b-f10194301ed1 2019-04-02 11:12:00
4     136c9f8e-5a60-45fe-b7f5-21e3601c7485 2019-04-09 13:27:00
5     136c9f8e-5a60-45fe-b7f5-21e3601c7485 2019-04-09 13:27:00
6     136c9f8e-5a60-45fe-b7f5-21e3601c7485 2019-04-09 13:27:00
7     ec78ba58-c5f9-4c27-9c95-c0cd2978ebdf 2019-04-12 08:59:00
8     ec78ba58-c5f9-4c27-9c95-c0cd2978ebdf 2019-04-12 08:59:00
9     ec78ba58-c5f9-4c27-9c95-c0cd2978ebdf 2019-04-12 08:59:00
10    116c87ae-8c7b-4e64-aeae-4d2f9ff20cdb 2019-04-17 13:33:00
11    116c87ae-8c7b-4e64-aeae-4d2f9ff20cdb 2019-04-17 13:33:00
12    116c87ae-8c7b-4e64-aeae-4d2f9ff20cdb 2019-04-17 13:33:00
13    116c87ae-8c7b-4e64-aeae-4d2f9ff20cdb 2019-04-17 13:33:00
14    116c87ae-8c7b-4e64-aeae-4d2f9ff20cdb 2019-04-17 13:33:00
15    116c87ae-8c7b-4e64-aeae-4d2f9ff20cdb 2019-04-17 13:34:00
16    116c87ae-8c7b-4e64-aeae-4d2f9ff20cdb 2019-04-17 13:34:00
17    116c87ae-8c7b-4e64-aeae-4d2f9ff20cdb 2019-04-17 13:34:00
18    116c87ae-8c7b-4e64-aeae-4d2f9ff20cdb 2019-04-17 13:34:00
19    ea5e4ba2-d50e-461d-9a74-a49800383815 2019-04-08 13:51:00
20    027e5994-fb97-4d48-b9ff-56a975dae571 2019-04-30 00:05:00
21    027e5994-fb97-4d48-b9ff-56a975dae571 2019-04-30 00:06:00
22    027e5994-fb97-4d48-b9ff-56a975dae571 2019-04-30 00:06:00
23    a5096dac-4e7a-472e-ac44-cbb94d73d028 2019-04-10 10:38:00
24    a5096dac-4e7a-472e-ac44-cbb94d73d028 2019-04-10 10:38:00
25    a5096dac-4e7a-472e-ac44-cbb94d73d028 2019-04-10 10:38:00
26    a5096dac-4e7a-472e-ac44-cbb94d73d028 2019-04-10 10:38:00
27    a5096dac-4e7a-472e-ac44-cbb94d73d028 2019-04-10 10:38:00
28    e2a335f4-54a4-4049-8129-243e733f33d2 2019-04-15 19:04:00
29    e2a335f4-54a4-4049-8129-243e733f33d2 2019-04-15 19:04:00
...                                    ...                 ...
3636  e515a35b-70bb-4a0a-bb75-0a82f7f3be26 2019-04-25 10:19:00
3637  e515a35b-70bb-4a0a-bb75-0a82f7f3be26 2019-04-25 10:19:00
3638  e515a35b-70bb-4a0a-bb75-0a82f7f3be26 2019-04-25 10:19:00
3639  e515a35b-70bb-4a0a-bb75-0a82f7f3be26 2019-04-25 10:19:00
3640  e515a35b-70bb-4a0a-bb75-0a82f7f3be26 2019-04-25 10:20:00
3641  e515a35b-70bb-4a0a-bb75-0a82f7f3be26 2019-04-25 10:20:00
3642  e515a35b-70bb-4a0a-bb75-0a82f7f3be26 2019-04-25 10:20:00
3643  e515a35b-70bb-4a0a-bb75-0a82f7f3be26 2019-04-25 10:20:00
3644  e515a35b-70bb-4a0a-bb75-0a82f7f3be26 2019-04-25 10:20:00
3645  e515a35b-70bb-4a0a-bb75-0a82f7f3be26 2019-04-25 10:20:00
3646  e515a35b-70bb-4a0a-bb75-0a82f7f3be26 2019-04-25 10:20:00
3647  11fa08c9-7c49-42d6-aafd-4c6cc0de49f1 2019-04-15 16:07:00
3648  11fa08c9-7c49-42d6-aafd-4c6cc0de49f1 2019-04-15 16:07:00
3649  11fa08c9-7c49-42d6-aafd-4c6cc0de49f1 2019-04-15 16:07:00
3650  11fa08c9-7c49-42d6-aafd-4c6cc0de49f1 2019-04-15 16:07:00
3651  11fa08c9-7c49-42d6-aafd-4c6cc0de49f1 2019-04-15 16:07:00
3652  11fa08c9-7c49-42d6-aafd-4c6cc0de49f1 2019-04-15 16:07:00
3653  11fa08c9-7c49-42d6-aafd-4c6cc0de49f1 2019-04-15 16:07:00
3654  e5d87044-e310-4caa-bc46-67ef98fc2ed8 2019-04-15 10:12:00
3655  7c5974c8-7491-4229-86c9-408aded755ff 2019-04-22 13:18:00
3656  42bb7a27-43c1-4e54-b257-4854cf65ac87 2019-04-05 21:30:00
3657  bebe85d5-f383-4c4a-a507-c42c4be1b637 2019-04-19 09:10:00
3658  d499f19a-431f-4c87-9c31-4f090950d028 2019-04-22 14:52:00
3659  3d0801ba-b6e6-4230-9e82-dbe355b543b7 2019-04-22 12:40:00
3660  3d0801ba-b6e6-4230-9e82-dbe355b543b7 2019-04-22 12:40:00
3661  3d0801ba-b6e6-4230-9e82-dbe355b543b7 2019-04-22 12:40:00
3662  3d0801ba-b6e6-4230-9e82-dbe355b543b7 2019-04-22 12:41:00
3663  3d0801ba-b6e6-4230-9e82-dbe355b543b7 2019-04-22 12:41:00
3664  ee8ad379-41c3-4e3c-8501-fd18190b4514 2019-04-09 09:44:00
3665  aabc62b4-00da-4ded-9383-4ca9bada2ca6 2019-04-09 09:46:00

[3666 rows x 2 columns]

In [85]:
df.loc[df['conversationTime'] == df.groupby('conversationId')['conversationTime'].min(),:]

ValueError: Can only compare identically-labeled Series objects

In [68]:
delete.str.split()

AttributeError: Can only use .str accessor with string values, which use np.object_ dtype in pandas

In [44]:
df[seq] = pd.Serises[range(len(df))]

AttributeError: module 'pandas' has no attribute 'Serises'

In [40]:
df.head()

,createdSecondDate,ioCode,text,intent,confidence,updater,unsigned,conversationId,conversationTime,groupConversationTime
0,2019-04-02 11:12,O,안녕하세요? 판토스 챗봇입니다.<br>무엇을 도와드릴까요?<br>아래 버튼을 클릭해...,NaN,NaN,admin,NaN,e4228203-c8bb-4c30-8c94-2a10e0acc1ad,2019-04-02 11:12,2019-04-02 11:12
1,2019-04-02 11:12,I,정수기,NaN,NaN,admin,NaN,e4228203-c8bb-4c30-8c94-2a10e0acc1ad,2019-04-02 11:12,2019-04-02 11:12
2,2019-04-02 11:12,O,전자제품 관련하여 제가 안내 해 드릴 수 있는 내용은 다음과 같습니다.,NaN,NaN,admin,NaN,e4228203-c8bb-4c30-8c94-2a10e0acc1ad,2019-04-02 11:12,2019-04-02 11:12
3,2019-04-02 11:12,O,안녕하세요? 판토스 챗봇입니다.<br>무엇을 도와드릴까요?<br>아래 버튼을 클릭해...,NaN,NaN,admin,NaN,b60fa5fa-7404-4f1f-b41b-f10194301ed1,2019-04-02 11:12,2019-04-02 11:12
4,2019-04-09 13:27,O,안녕하세요? 판토스 챗봇입니다.<br>무엇을 도와드릴까요?<br>아래 버튼을 클릭해...,NaN,NaN,haniln,NaN,136c9f8e-5a60-45fe-b7f5-21e3601c7485,2019-04-09 13:27,2019-04-09 13:27